<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-user"></i>About me</h2>
  <div class="summary">
    <p>Eager to learn more on daily basis. Enjoy leading projects and handle communication. Very communicative and easily find a common language with new people. Know how to evolve fast and get the job done on time using best practices.</p>
    <p>Back-end JavaScript Developer. Writing Node.js using most recent features of ES6+ wisely.</p>
    <p>Actually, this CV is last project made on Angular 5, before finally moving to just back-end. You may visit <a href="https://github.com/stepovoy">my github.com profile</a> in order to look through <a href="https://github.com/stepovoy/cv">source code of this</a> and <a href="https://github.com/stepovoy?tab=repositories">other projects</a>.</p>
  </div>
</section>
