<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">
    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: arthurstepovoy@gmail.com">arthurstepovoy@gmail.com</a></li>
    <li class="phone"><i class="fa fa-phone"></i><a href="tel:+38 093 020 7656">+38 (093) 020 7656</a></li>
    <li class="website"><i class="fa fa-globe"></i><a href="http://stepovoy.herokuapp.com" target="_blank">stepovoy.herokuapp.com</a></li>
    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://linkedin.com/in/stepovoy" target="_blank">linkedin.com/in/stepovoy</a></li>
    <li class="github"><i class="fa fa-github"></i><a href="https://github.com/stepovoy" target="_blank">github.com/stepovoy</a></li>
    <!--<li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/stepovoy" target="_blank">@stepovoy</a></li>-->
  </ul>
</div>